.sidebar {
  padding: 0 1rem;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    cursor: pointer;
    font-weight: 300;
    &:hover, &:focus, &.active {
      color: #6ee7b7;
      font-weight: 600;
    }
  }
}
