@let dataSource = data();

<div class="tools">
  <app-search-input />
  <div class="pagination">
    <label class="limit">
      Limit:
      <select (change)="onChangeLimit($event)">
        @for (limit of limits; track limit) {
          <option [value]="limit" [selected]="params.limit === limit">{{ limit }}</option>
        }
      </select>
    </label>

    <div class="pages">
      <button (click)="previousPage()"><<</button>
      <span>Page: {{ params.page }}</span>
      <button (click)="nextPage()">>></button>
    </div>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">image</th>
      <th scope="col">name</th>
      <th scope="col">brand</th>
      <th scope="col">price</th>
      <th scope="col">stock</th>
      <th scope="col">rating</th>
      <th scope="col">actions</th>
    </tr>
  </thead>
  <tbody>
    @for (product of dataSource.products; track product.id) {
      <tr>
        <th scope="row">{{ product.id }}</th>
        <td><app-product-image [product]="product" size="small" /></td>
        <td [style]="product.stock | stock">{{ product.title }}</td>
        <td>{{ product.brand }}</td>
        <td>{{ product.price | currency }}</td>
        <td>{{ product.stock }}</td>
        <td>{{ product.rating }}</td>
        <td>
          <a routerLink="/products/{{ product.id }}">Details</a>
        </td>
      </tr>
    }
  </tbody>
</table>
